/* *{
margin: 0;
padding: 0;

} */

.main-border{
border: 3px solid black;



}
h3{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
h1{
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2{
letter-spacing: 5px;


}

.headings{
text-align: center;

}

.nav-b{
border: 2px solid black;
margin-left: 400px;
margin-right: 400px;
}

.navbar{
display: flex;
justify-content:center;
gap: 80px;
margin: 20px;

}

.images{
display: flex;
justify-content: center;

}

.para{
margin-left: 400px;
margin-right: 400px;
margin-bottom: 50px;
font-size: large;
}


@media screen and (max-width:768px){




.main-border{
border: 1px solid black;



}
h3{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
h1{
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2{
letter-spacing: 5px;


}

.headings{
text-align: center;

}

.nav-b{
border: 1px solid black;
margin-left: 0px;
margin-right: 0px;
}

.navbar{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
/* justify-content:center;
gap: 80px;
margin: 20px; */

}

.images{
display: flex;
flex-direction: column;
/* justify-content: center; */

}

.images div img {
width: 100%;


}


.para{
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
font-size: large;
}








}