* {
    margin: 0;
    padding: 0;

}



body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

.main-container {
    width: 800px;
    height: 600px;
    display: flex;
    border: 2px solid aqua;



}

.left {
    height: 100%;
    width: 50%;


}

.right {
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
}


.left>img {
    width: 100%;
    height: 600px;
    object-fit: cover;


}

/* this section containing the form in the right bar */

form {
    margin: 50px;


}

input {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 200px;
    margin: 5px 0px;
    padding: 5px;

}

button {
    background-color: rgb(64, 224, 64);
    padding: 10px;
    width: 110px;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;

}

select {
    background-color: black;
    color: white;
    border: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;


}


@media screen and (max-width:768px) {




    * {
        margin: 0;
        padding: 0;

    }



    body {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        height: 100vh;
        align-items: center; */

    }

    .main-container {
        width:90%;
        display: flex;
        flex-direction: column;
        border: 2px solid aqua;



    }

    .left {
        width: 100%;


    }

    .right {
        width: 100%;
        background-color: black;
        color: white;
    }


    .left>img {
        width: 100%;
        height: 600px;
        object-fit: cover;


    }

    /* this section containing the form in the right bar */

    form {
        margin: 20px;


    }

    input {
        background-color: black;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        width: 70%;
        margin: 5px 0px;
        padding: 5px;

    }

    button {
        background-color: rgb(64, 224, 64);
        padding: 10px;
        width: 40%;
        color: white;
        font-size: large;
        font-weight: bold;
        border-radius: 20px;

    }

    select {
        background-color: black;
        color: white;
        border: none;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;


    }





}