*{
margin: 0;
padding: 0;
}

.card{
    width: 20%;
font-size: large;
background-color: antiquewhite;
border-radius: 10px;
}

.card>img{
width: 100%;
height: 250px;
border-radius: 10px;

}
h1,p{
color: red;



}

.card-container{
display: flex;
justify-content: center;
gap: 100px;
align-items: center;
min-height: 100vh;
}


/* This is the media query section contain the mobile responsive for the website  */

@media screen and (max-width:768px){


.card{
    width: 90%;
font-size: large;

background-color: antiquewhite;

}

.card>img{
width: 100%;


}
h1,p{
color: red;



}

.card-container{
display: flex;
flex-direction: column;

}



}




