body {
background-color: aqua;
display: flex;
justify-content: center;



}


.calculator {

    width: 300px;
    height: 400px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.display {

    width: 280px;
    height: 50px;
    background-color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.keys {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 10px;
}


button {
    width: 100%;
    height: 50px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: blue;

}


.clear {
    background-color: #f00;
    color: #fff;
    grid-column: span 1;
}

.equal {
    background-color: orangered;
    grid-column: span 4;
}

