* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}


body {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    background-color: bisque;

}


.ludo-bord {

    width: 700px;

    height: 700px;

    background-color: white;

}


/* this section define the containers in the css */

.container-1,
.container-3 {

    width: 100%;

    height: 40%;

    display: flex;

}


.container-2 {

    width: 100%;

    height: 20%;

    display: flex;

}


/* this section containing the interfaces */

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {

    width: 40%;

    height: 100%;

}


.row1-col2,
.row3-col2 {

    width: 20%;

    height: 100%;

}


.row2-col1,
.row2-col3 {

    width: 40%;

    height: 100%;

}


.row2-col2 {

    width: 20%;

    height: 100%;

}


/* this is the section for the color  */

.red {

    background-color: red;

}


.green {

    background-color: green;

}


.blue {

    background-color: blue;

}


.yellow {

    background-color: yellow;

}


.row1-col1-child,
.row1-col3-child,
.row3-col1-child,
.row3-col3-child {

    width: 70%;

    height: 70%;

    background-color: white;

    margin: 15%;

}


/* this is the section for the interface circle  */

.row1-col1-child>div,
.row1-col3-child>div,
.row3-col1-child>div,
.row3-col3-child>div {

    width: 45%;

    height: 45%;

    border-radius: 45%;

    float: left;

    margin: 2%;

}


/* this section define the root of the ludo paths  */

table {

    border-collapse: collapse;

}


td {

    width: 48px;

    height: 46px;

    border: 1px solid black;

}


/* this is the icon section  */

.icon {

    color: white;

    margin: 2px 2px;

}


/* this is the central part of the ludo containing the triangles shape designs */

.triangles {

    width: 100%;

    height: 100%;

    position: relative;

}


.triangle-left {

    height: 0;

    width: 0;

    border-top: 60px solid transparent;

    border-bottom: 60px solid transparent;

    border-left: 60px solid green;

    position: absolute;

    left: 0;

    top: 10px;

}


.triangle-right {

    height: 0;
    
    width: 0;
    
    border-top: 60px solid transparent;
    
    border-bottom: 60px solid transparent;
    
    border-right: 60px solid blue;
    
    position: absolute;
    
    right: 0;
    
    top: 10px;

}


.triangle-bottom {

    height: 0;

    width: 0;

    border-left: 60px solid transparent;

    border-right: 60px solid transparent;

    border-bottom: 60px solid red;

    position: absolute;

    bottom: 0;

    left: 10px;

}


.triangle-top {

    height: 0;

    width: 0;

    border-top: 60px solid yellow;

    border-left: 60px solid transparent;

    border-right: 60px solid transparent;

    position: absolute;

    left: 10px;

    top: 0;

}


.row2-col2 {

    background-color: black;

}