* {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.main-border {
    border: 3px dashed black;
    background-color: whitesmoke;

}

.headings {
    text-align: center;


}

.nav-b {
    border: 2px solid black;
    margin-left: 302px;
    margin-right: 302px;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 80px;
    font-size: 20px;
}

.images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.para {
    margin: 20px 300px 20px 300px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}


/* This is the media query section contain the mobile responsive  */

@media screen and (max-width:650px) {


h3 {
   
    font-family: Arial, Helvetica, sans-serif;

}

.main-border {
    border: 1px dashed black;
    background-color: whitesmoke;

}

.headings {
    text-align: center;


}

.nav-b {
    border: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* justify-content: center;
    margin: 15px;
    gap: 80px; */
    font-size: 20px;
}

.images {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    /* justify-content: center;
    margin-top: 20px; */
}

.para {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}



}