*{
margin: 0;
padding: 0;
}

body{
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAxOizMuM38jE6lMO9JxirTMY52Pt_sgRwCw&s");
opacity: 0.8;
background-repeat: no-repeat;
background-size: cover;

}

form{
border: 2px solid white;
padding: 40px;
border-radius: 10px;
text-align: center;

}

h2{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: xx-large;

}

input{
border-bottom: 2px solid black;
padding: 3px;


}


button{
background-color: black;
color: white;
width: 220px;
margin: 25px 10px;
padding: 4px;
border-radius: 10px;

}

a{
text-decoration: none;
color: black;
}

a:hover{
color: blue;
text-decoration: underline;

}


