* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.bar {
    background-color: rgb(14, 152, 152);
    width: 350px;
    height: 20px;
    margin: 10px;
}

.item {
    color: white;
    font-size: xx-large;
    letter-spacing: 30px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}


/* this is the media query section  */


@media screen and (max-width:768px) {



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;

    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

    }

    .bar {
        background-color: rgb(14, 152, 152);
        width: 300px;
        height: 20px;
        margin: 10px;
    }

    .item {
        color: white;
        font-size: large;
        letter-spacing: 20px;
        font-weight: bold;
        text-align: center;
        margin: 5px;
        cursor: pointer;
    }







}