* {
    margin: 0;
    padding: 0;
}

.card {
    width: 20%;



}

.display {
    background-color: black;
    color: white;
    width: 100%;
    height: 250px;
    padding: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    min-height: 100vh;
}


@media screen and (max-width:768px) {

    body {
        margin: 0;
        padding: 0;
        width: 95vw;
    }


    .card {
        width: 95%;



    }

    .display {
        background-color: black;
        color: white;
        width: 100%;
        padding: 200px;
        padding: 5px;
    }

    .card-container {
        display: flex;
        flex-direction: column;

        /* justify-content: center;
gap: 50px;
align-items: center; */
        min-height: 100vh;
    }



}