* {
    margin: 0;
    padding: 0;
    color: white;
}


body {
    background-repeat: no-repeat;
    background-color: pink;
    background-size: cover;
    background-position: center;
    min-height: 97vh;

}

/* this is the navbar section in the website */

.nav-container {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;


}

.nav-container>img {
    width: 30%;
    height: 50px;
    object-fit: contain;
}

.nav-container a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px 20px;

}

/* this is the log in page section */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;

}

fieldset {
    border: 2px solid white;
    padding: 50px;

}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}

.rows {
    border: 1px solid white;
    margin-top: 5px;


}

input {
    border: none;
    padding: 10px;
    color: black;


}

.abc {
    display: flex;
    justify-content: space-between;

}

button {
    background-color: aqua;
    width: 250px;
    padding: 7px;
    margin: 15px;
    border-radius: 10px;
    border: none;
}

p {
    text-align: center;
    margin: 10px;

}


/* this is the media query section  */


@media screen and (max-width:768px) {


    body {
        background-color: pink;
        min-height: 97vh;

    }

    /* this is the navbar section in the website */

    .nav-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        /* justify-content: space-around;
        gap: 100px;
        margin: 20px; */
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;


    }

    .nav-container>img {
        width: 30%;
        height: 50px;
        object-fit: contain;
    }

    .nav-container a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 5px 20px;

    }

    /* this is the log in page section */

    .main {
        display: flex;
        flex-direction: column;
        gap: 0;
        /* justify-content: center;
        align-items: center; */
        height: 85vh;

    }

    fieldset {
        border: 1px solid white;
        padding: 10px;

    }


    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;


    }

    .rows {
        border: 1px solid white;
        margin-top: 5px;


    }

    input {
        border: none;
        padding: 7px;
        color: black;
        width: 92%;


    }

    .abc {
        display: flex;
        justify-content: space-around;

    }

    button {
        background-color: aqua;
        width: 250px;
        padding: 7px;
        margin: 15px;
        border-radius: 10px;
        border: none;
    }

    p {
        text-align: center;
        margin: 10px;

    }












}