body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

h3 {
    font-size: x-large;
    font-weight: bold;
    color: red;
    background-color: yellow;
    border-radius: 10px;
}

p {
    color: yellowgreen;
    font-weight: bold;

}

.card {
    width: 18%;
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
}


div>img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;


}


/* this is the media query section  */

@media screen and (max-width:768px) {




    body {
        margin: 0;
        padding: 0;
        background-color: gray;
    }

    h3 {
        font-size: x-large;
        font-weight: bold;
        color: red;
        background-color: yellow;
        border-radius: 10px;
    }

    p {
        color: yellowgreen;
        font-weight: bold;

    }


    
    .main {
        display: flex;
        flex-direction: column;
        margin: 0;
        /* justify-content: space-around;
        margin-top: 100px; */


    }



    .card {
        width: 90%;
        border: 1px solid black;
        margin: 10px;
        padding: 5px;
        text-align: center;
        background-color: aqua;
        border-radius: 10px;
    }


    div>img {
        width: 100%;
        height: 250px;
        object-fit: cover;

    }











}