* {
    margin: 0;
    padding: 0;
}


body {
    background-color: aquamarine;
}




.card {
    width: 20%;
    border: 5px solid black;
    text-align: center;
    background-color: green;
    margin: 3px;
    padding: 3px;

}



.card>img {
    width: 100%;
    object-fit: cover;
}

.parent {
    width: 80%;
    border: 5px;
    margin: auto;
    display: flex;
    gap: 100px;
    margin-top: 100px;
    justify-content: center;
}


/* media query */


@media screen and (max-width:768px) {



    body {
        background-color: aquamarine;
        overflow-x: hidden;

    }


    .card {
        width: 100%;
        border: 5px solid black;
        text-align: center;
        background-color: green;
        margin: 0px;
        padding: 0px;

    }



    .card>img {
        width: 100%;
        object-fit: cover;
    }

    .parent {
        width: 100%;
        border: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        /* gap: 100px;
        margin-top: 100px;
        justify-content: center; */



    }






}