* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

a:active {
    text-decoration: underline;
    color: black;
}



body {
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

a i{
font-size: x-large;
color: blue;

}


.xy>input {
    width: 250px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
}

button {
    background-color: blue;
    width: 240px;
    padding: 5px;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.line {
    border: 1px solid white;
    width: 100px;
    height: 1px;
    margin: 7px;

}

.OR {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.sub-contain {
    text-align: center;


}

.abc {
    margin: 20px;

}

.xyz {
    display: flex;
    justify-content: center;
    margin: 20px;

}

/* this is the navbar section */

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}



/* this is the media query section  */

@media screen and (max-width:768px) {



    a {
        text-decoration: none;

    }

    a:active {
        text-decoration: underline;
        color: black;
    }



    body {
        background-color: rgba(0, 0, 0, 0.692);
        color: white;
    
    }

    .main-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        /* justify-content: center;
        gap: 50px; */
      
    }

    .left-image{
        width: 100%;
object-fit: contain;


    }

    .xy>input {
        width: 200px;
        margin: 5px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.575);
        color: white;
    }


    button {
        background-color: blue;
        width: 180px;
        padding: 5px;
        align-items: center;
        margin: 10px;
        border-radius: 10px;
    }

    .line {
        border: 1px solid white;
        width: 100px;
        height: 1px;
        margin: 7px;

    }

    .OR {
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    .sub-contain {
        text-align: center;


    }

    .abc {
        margin: 20px;

    }

    .xyz {
        display: flex;
        justify-content: center;
        margin: 20px;

    }


    
/* this is the navbar section */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
    /* justify-content: center;
    gap: 30px;
    margin: 50px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}


}