body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 95vh;
    align-items: center;
    
}


.calculator {
    width: 300px;
    height: 400px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.display {
    background-color: white;
    width: 280px;
    height: 50px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.keys {
    display: grid;
    grid-template-columns: columns;
    grid-gap: 10px;

}

button {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


button:hover {
    background-color: blue;

}

.clear {
    background-color: red;
    color: white;
    grid-column: span 1;

}

.equal {
    background-color: orange;
    grid-column: span 4;


}